
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace; 
}

a { 
    font-weight: bold;
    color: black;
    
}

button {
    outline: none;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    height: 100vh;
    background-color: rgb(73, 72, 72);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    border: 3px solid darkslategray;
    background-color:rgb(233, 242, 250)
}

#timer {
    font-size: 1.5rem;
}

.card-start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 50vh;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;
    background-color:rgb(233, 242, 250)
    
}

.card-start p {
    font-size: 1.5rem;
    width: 90%

}
.card-title {
    font-size: 4rem;
    height: auto;
    width: auto;  
}

.start-btn, .btn {
    font-size: 2.5rem;
    color: white;
    background-color: darkslategray;
    padding: 10px;
    border-radius: 5px;
}

.start-btn:hover {
    color: darkslategray;
    background-color: rgb(97, 136, 18);
}

.btn:hover {
    color: darkslategray;
    background-color: rgb(97, 136, 18);
}

.hide {
    display:none;
}

.scores h1 {
    font-size: 50px;
    font-style:italic;
}